
  body {
    background-color: rgb(8,82,9);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
  }
  body1 {}
  /* Big Titles */
  h1 {
      color: black;
      text-align: center;
      font-family: Helvetica, sans-serif;
      font-weight: 200;
      font-size: 50px;
    }
  /* Sub Titles */
  h2 {
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    font-weight: 150;
  }
  /* Basic Content */
  h3 {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
  }
  /* Faint Subscript */
  h6 {
    font-size: 15px;
    font-family: Helvetica, serif;
    font-weight: 100;
  }
  .text-box{
    /*transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);*/
    position: static;
    text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 900px;
    /*border-radius: 20%;*/
  }
  #backgroundwhitebox-desc{
    background-color: white;
    border: 20px solid #540404;
    position: static;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  #pagetitle-desc{
    top: 10px;
    height: 30px;
    text-align: center;
    margin: 0 auto;

  }
  #byline-desc{
    width: 1000px;
    top: 300px;
    text-align: center;
    margin: 0 auto;
  }
  #dividerline-desc{
    width: 900px;
    height: 5px;
    top: 30px;
    background: rgb(8,82,9);
    margin: 0 auto;
  }
  #weektitle-desc{
    width: 1000px;
    top: 20px;
    text-align: center;
    margin: 0 auto;
  }
  #weekcontent-desc{
    margin: 0 auto;
    width: 800px;
    top: 20px;
    text-align: left;
  }
